nav {
    /* background-color: #ec9422; */
    position: fixed;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

img#logo {
    width: 100px;
    height: 100px;
}

a.navbar-brand {
    color: black;
    font-weight: bolder;
    font-size: xx-large;
}

a.navbar-brand:focus {
    color: black;
    font-weight: bolder;
    font-size: xx-large;
}

a.nav-link {
    color: black;
    font-size: large;
}

a.nav-link:hover {
    color: black;
    font-weight: bold;
}

a.nav-link:focus {
    font-weight: bold;
}

a#regis {
    color: red;
}

a#regis:hover {
    color: #eb1c24;
}

div.dropdown-menu.show {
    z-index: 999;
}



/* .dropdown-item {
    color: black !important; 
}

.dropdown-item:hover {
    background-color: #D93D04 !important;
    color: black !important;
}

.dropdown-item:focus {
    background-color: #D93D04 !important;
    color: black !important;
}

.navbar-dark .dropdown-toggle {
    color: black !important; 
}

.navbar-dark .dropdown-toggle:hover {
    color: black !important;
}

.navbar-dark .dropdown-toggle:focus {
    color: black !important;
} */